@charset "UTF-8";

.contents{
padding-top: 50px;
padding-bottom: 50px;
}


.header{
background-color: gray;
}

label[for="login"]{
display: inline-block;
padding: 10px;
color: white;
}

label[for="time"]{
padding: 10px;
font-size: 10px;
}

.footer{
background-color: gray;
}

label[for="name"]{
display: inline-block;
padding: 10px;
color: white;
}