@media screen and (max-width: 479px) {
    .wrapper{
    	width: 200px;
    }

    .header{
    	width: 200px;
    	height: 200px;
    }
    
    .box{
        width: 40px;
        right: 70px;
    }

    .pink-box{
    	float: none;
    	margin-bottom: 10px;
    }

    .main{
    	width: 200px;
    }

    .green{
    	width: 200px;
    }

    .brown{
    	height: 210px;
    	width: 200px;
    }

    .boxes{
    	top: 20px;
    	left: 30px;
    }

    .footer{
    	width: 200px;
    }
}