@media screen and (max-width: 767px) {
	.wrapper{
        width: 300px;
	}

	.green{
		width: 100px;
	}
    
    .right{
    	width: 200px;
    }

	.left-contents{
		width: 125px;
	}

	.pink{
		width: 75px;
	}
}

@media screen and (max-width: 479px) {
	.wrapper{
        width: 150px;
	}
    
    .main{
    	width: 150px;
    }

	.green{
		width: 150px;
		float: none;
	}

	.right{
		float: none;
	}

	.left-contents{
		width: 150px;
		float: none;
	}

	.pink{
		width: 150px;
		float: none;
	}

	.deepred{
		width: 150px;
	}

	.footer{
		width: 150px;
	}

}
